@keyframes blink {
  0%, 49% {
    background-color: var(--node-anticipated-color);
  }
  50%, 100% {
    background-color: var(--node-passed-color);
  }
}

.container {
  --node-anticipated-color: var(--lili-600);
  --node-passed-color: var(--lili-200);

  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lili-50);
  cursor: pointer;

  &.dark-mode {
    background-color: var(--lili-950)
  }

  &.azure-mode {
    --node-anticipated-color: var(--azure-600);
    --node-passed-color: var(--azure-200);

    background-color: var(--azure-50);

    .node-passed {
      background-color: var(--azure-200);
    }

    .node-anticipated {
      background-color: var(--azure-600);
    }

    &.dark-mode {
      background-color: var(--azure-950)
    }
  }

  &.midway-point {
    .node-current-week {
      --node-anticipated-color: var(--rose-500);
      animation: blink 0.48s infinite;
    }
  }
}

.node-container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  width: 156px;
}

.node {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  user-select: none;
}

.node-passed {
  background-color: var(--lili-200);
}

.node-anticipated {
  background-color: var(--lili-600);
}

.node-current-week {
  animation: blink 1.09s infinite;
}
